{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}images/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h1>Jiten Agarwal</h1>
        <h3>
          <div><a href="https://www.github.com/jitenagarwal19">Programming 👨🏽‍💻</a></div>
          <div><a href="https://www.instagram.com/geekten">Photography 📷</a></div>
          <div><a href="https://www.jitenagarwal.com/meditation">Meditation 🧘🏽‍♂️</a></div>
          <div><a href="https://www.jitenagarwal.com/blog">Blogging 📝</a></div>
          <div><a href="https://wwww.jitenagarwal.com/travel_stories">Travelling 🗺</a></div>
        </h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
